<div class="boxed">
	<h2>JavaZone 2013 is happening!</h2>
	<p>JavaZone 2013 will be AweSome! It will help you expand your ComfortZone greatly! </p>

	<p><strong>Will you be there? Or be square?</strong></p>

	<h3>The promo-video from 2012:</h3>
	<iframe width="1000" height="563" src="http://www.youtube.com/embed/HXvm76e2X1Q?rel=0" frameborder="0" allowfullscreen></iframe>

	<h3>Awesome things:</h3>
	<div class="things">
		<a href="#" class="thing">
			JavaBin
		</a>
		<a href="#" class="thing">
			Last year's webpage
		</a>
		<a href="#" class="thing">
			Videos
		</a>
		<a href="#" class="thing">
			Last year's program
		</a>
		<div style="clear: both"></div>
	</div>
</div>