<%= partial("_partials/menu.html") %>
<% set('page', 'page-invert') %>

<div class="tile tile-img tile-med"><div class="img img-awezone-poster"></div></div>

<div class="tile tile-small tile-tall tile-tall-text tile-invert"><div class="tile-inner">
    <h3 class="first">
        AweZone Festival 2013
    </h3>
    <p class="first">
        After a long day learning great new stuff at the Conference, we all need to chill out and have a nice, cold beer. We meet at the <a href="http://www.rockefeller.no">Rockefeller Music Hall</a> to listen to some great live music.
    </p>
    <p>
        In the main concert hall, we'll be joined by some of <a href="partners.html">our partners</a>' great bands. Who they are has yet to decided, but judging from previous years, they will bring their best jams.
    </p>
</div></div>

<div class="tile tile-small tile-facts tile-invert"><div class="tile-inner">
  <ul>
    <li><strong><i class="icon-calendar"></i> When and where?</strong> 11<sup>th</sup> September 2013, Rockefeller Music Hall, Torggata 16, Oslo.</li>
    <li><strong><i class="icon-user"></i> Who is invited?</strong> Everyone with a normal JavaZone ticket. Special tickets for AweZone will be sold.</li>
    <li>
    <strong><i class="icon-credit-card"></i> How much does it cost?</strong> Free as in lunch! Entrance to the party is included in your regular ticket.</li>
  </ul>
</div></div>

<%= partial("_partials/footer.html") %>
