<%= partial("_partials/menu.html") %>
<% set("page", "page-invert") %>

<div class="tile tile-big"><div class="tile-inner img-awezone5">
    <span class="extra">
        <strong>Join us at this years AweZone after-party!</strong><br>
        Ain't no party like a great geek party!
    </span>
</div></div>

<div class="tile tile-txt tile-med tile-invert"><div class="tile-inner">

    <h2 class="first"><i class="icon-beer"></i> Freezing beers, great bands, awesome people</h2>

    <p>After a long day learning great new stuff at the Conference, we all need to chill out and have a nice, cold beer. We meet at the <a href="http://www.rockefeller.no">Rockefeller Music Hall</a> to party, mingle and listen to some great live music. In the main concert hall, we'll be joined by some of <a href="partners.html">our partners</a>' great bands. Who they are has yet to decided, but judging from previous years, they will bring their best jams and rock the building.</p>
    <p>In addition to this, we'll book in a few bands that do that music-thing for a living. Over the past few years we have been delighed to present great bands such as CC Cowboys, Honningbarna, Oslo Ess &amp; Turboneger. This year will be no different!</p>

    <h2><i class="icon-music"></i> Want to rock Rockefeller?</h2>

    <p>A great party is nothing without great bands! And any respectful IT-conference needs great geek-bands. That's why we want you up on the main stage! If your company has a great band, this is your opportunity to show yourself to the world. Just send a small pitch to <a href="mailto:javazone@​java.​no">javazone@​java.​no</a>, including anything that makes you look good (pictures, sound-clips, videos), and we'll get in touch with you.</p>

    <p class="credits">Photos by <a href="http://avdeling4.no/">Avdeling 4-fotografene</a>.</p>

</div></div>

<div class="tile tile-small tile-low"><div class="tile-inner img-awezone">
</div></div>

<div class="tile tile-small tile-facts"><div class="tile-inner">
  <ul>
    <li><strong><i class="icon-calendar"></i> When and where?</strong> 11<sup>th</sup> September 2013, Rockefeller Music Hall, Torggata 16, Oslo.</li>
    <li><strong><i class="icon-user"></i> Who is invited?</strong> Everyone with a normal JavaZone ticket. Special tickets for AweZone will be sold.</li>
    <li>
    <strong><i class="icon-credit-card"></i> How much does it cost?</strong> Free as in lunch! Entrance to the party is included in your regular ticket.</li>
  </ul>
</div></div>

<%= partial("_partials/footer.html") %>
