<%= partial("_partials/menu.html") %>

<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="/" class="tile-inner img-intro">
        <span class="extra">
            <strong>What:</strong> Thousands of developers
        </span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#when" class="tile-inner img-video">
        <span class="extra">
            <strong>When:</strong> 11–12th September 2013
        </span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#where" class="tile-inner img-agir">
        <span class="extra">
            <strong>Where:</strong> Oslo Spektrum, Norway
        </span>
    </a></li>
</ul>
<div class="clear"></div>

<div class="tiles" id="where">
    <div class="tile tile-med tile-high"><div class="tile-inner img-map">
    </div></div>
    <div class="tile tile-small tile-high"><div class="tile-inner">
        <h3 class="first">
            Thousands of developers, more than one hundred sessions, amazing workshops and over 50 unique partners in one building.
        </h3>
        <p>JavaZone 2013 will take place in Oslo Spektrum, one of Oslo’s largest venues located in the heart of Oslo.</p>
        <ul class="links">
            <li><a href="/tickets.html">Conference schedule</a></li>
            <li><a href="/tickets.html">Information for speakers</a></li>
        </ul>
    </div></div>
</div>


<div class="tiles" id="when">
    <div class="tile tile-med tile-txt"><div class="tile-inner">
        <h2 class="first"><i class="icon-globe"></i> Welcome to JavaZone!</h2>
        <p>JavaZone is an important meeting place for software developers in Scandinavia, and is the biggest community driven conference of its kind. JavaZone has been described as a high quality, independent conference – a leading forum for knowledge exchange for IT- professionals. All speakers are selected by the independent Program Committee.</p>
        <p>Over 50 large and mid-sized companies – our partners – exhibit their brand and services/ products during the conference. Without partners, volunteers, the speakers and the participants, the conference would not be possible.</p>
        <ul class="tags">
            <li><a class="tag" href="/program.html">Alternative languages</a></li>
            <li><a class="tag" href="/program.html">Architecture</a></li>
            <li><a class="tag" href="/program.html">Big Data and NoSQL</a></li>
            <li><a class="tag" href="/program.html">Con­tin­u­ous De­liv­ery</a></li>
            <li><a class="tag" href="/program.html">Core Java</a></li>
            <li><a class="tag" href="/program.html">Crafts­man­ship</a></li>
            <li><a class="tag" href="/program.html">Dis­trib­uted and Cloud</a></li>
            <li><a class="tag" href="/program.html">En­ter­prise</a></li>
            <li><a class="tag" href="/program.html">Ex­pe­ri­ence Re­port</a></li>
            <li><a class="tag" href="/program.html">Fron­tend</a></li>
            <li><a class="tag" href="/program.html">Functional Programming</a></li>
            <li><a class="tag" href="/program.html">Mobile</a></li>
            <li><a class="tag" href="/program.html">Re­search and Trends</a></li>
            <li><a class="tag" href="/program.html">Se­cu­rity</a></li>
            <li><a class="tag" href="/program.html">Star­tups</a></li>
        </ul>

        <h2 id="contact"><i class="icon-envelope-alt"></i> Contact information</h2>
        <ul class="contact">
            <li><strong>JavaZone commitee:</strong> <a href="mailto:javazone@java.no">Ole-Alexander Moy</a> (+47 xxx xxx xxx)</li>
            <li><strong>Program commitee:</strong> <a href="mailto:program@java.no">Helge Jenssen</a> (+47 xxx xxx xxx)</li>
            <li><strong>Partner contact:</strong> <a href="mailto:partner@java.no">Solveig Jerijærvi</a> (+47 xxx xxx xxx)</li>
            <li><strong>Press contact:</strong> <a href="mailto:javazone@java.no">Ole-Alexander Moy</a> (+47 xxx xxx xxx)</li>
        </ul>

    </div></div>
    <div class="tile tile-small tile-txt tile-dates"><div class="tile-inner">
        <h2 class="first"><i class="icon-calendar"></i> Schedule</h2>
        <h4>Tuesday 10th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: Workshops (separate registration)</li>
            <li><strong>11:32</strong>: Speakers dinner (speakers only)</li>
            <li><strong>11:32</strong>: The Expo area are rigged</li>
            <li><strong>11:32</strong>: Pre-registration opens</li>
        </ul>
        <h4>Wednesday 11th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>11:32</strong>: Mingling in the Expo area</li>
            <li><strong>11:32</strong>: Morning show</li>
            <li><strong>11:32</strong>: First day of sessions</li>
            <li><strong>11:32</strong>: Mingling in the Expo area</li>
            <li><strong>11:32</strong>: AweZone 2013 at Rockefeller</li>
        </ul>
        <h4>Thursday 12th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>11:32</strong>: Second day sessions</li>
            <li><strong>11:32</strong>: JavaZone ends</li>
        </ul>
    </div></div>
</div>
<div class="clear"></div>



<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner img-workshop">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Workshops at JavaZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/awezone.html" class="tile-inner img-awezone">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Party at AweZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/journeyzone.html" class="tile-inner img-agir">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Travel to JourneyZone
        </span>
    </a></li>
</ul>
<div class="clear"></div>

<%= partial("_partials/footer.html") %>
