<%= partial("_partials/menu.html") %>

<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="#speakers" class="tile-inner img-crowd">
	<span class="extra">
		 <i class="icon icon-chevron-sign-right"></i>
	    <strong>Speakers:</strong> All you need to know
	</span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#partners" class="tile-inner img-intro">
	<span class="extra">
		 <i class="icon icon-chevron-sign-right"></i>
	    <strong>Partners:</strong> All you need to know
	</span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#volunteers" class="tile-inner img-agir">
	<span class="extra">
		 <i class="icon icon-chevron-sign-right"></i>
	    <strong>Volunteers:</strong> All you need to know
	</span>
    </a></li>
</ul>
<div class="clear"></div>


<div class="tiles">

	<div id="speakers" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-heart"></i> All you need to know as a speaker of JavaZone 2013</h2>
		<p>JavaZone is nothing without all our wonderful speakers who are holding full tracks, lightning talks or workshops. To help you help us make this years conference the best for both you and all the other guests, we have collected a bunch of information here. If there is anything else, please don't hesitate to contact us.</p>

		<h2><i class="icon-money"></i> Monetary policy</h2>
		<p>The or­gan­iser of Java­Zone is jav­aBin (the Nor­we­gian Java User Group), an in­de­pen­dent, non-profit or­ga­ni­za­tion. The con­fer­ence has part­ners but no spon­sors.</p>

		<p>The agenda is de­fined by the Pro­gram Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. We there­fore have a lim­ited bud­get for re­im­burs­ing con­fer­ence speak­ers. Please see our <a href="/monetarypolicy.html">mon­e­tary pol­icy</a> for more in­for­ma­tion.</p>

		<h2><i class="icon-group"></i> Who can you expect to present to at JavaZone?</h2>
		<p>We have collected <a href="/partners.html#statistics">some statistics about the participants</a> to give you a better indication on what audience to expect at your talks</p>
		<p>To get a feel for what content we have featured on previous conferencec, you can look at <a href="/toptalks.html">the top talks of JavaZone 2012</a>.</p>

		<h2><i class="icon-gift"></i> Benefits and perks for speakers</h2>
		<p>Speak­ers with ac­cepted <strong>pre­sen­ta­tions</strong> will get free ad­mis­sion to the con­fer­ence.
		  They will also be in­vited to the speak­ers din­ner and can join us
		  on <a href="journeyzone.html">Jour­ney­Zone</a>, an epic journey in the Norwegian wilderness.</p>
		<p>Speak­ers with ac­cepted <strong>light­ning talks</strong> will be in­vited to the speak­ers din­ner but will have to pay for their own ad­mis­sion to Java­Zone.</p>

		<h2><i class="icon-info"></i> Frequently asked questions</h2>
		<p>We have collected answers to the most frequently asked questions here. If you have any other questions, feel free to send us a quick mail: <a href="mailto:program@java.no">program@java.no</a></p>
		<div class="miniinfo">
			<h3>Where can I edit my presentation?</h3>
			<p>To edit your talk, use the link provided in the email message we sent you when you submitted your talk. If you have lost that mail, send us a quick note at <a href="mailto:program@java.no">program@java.no</a>, and we'll send you a new link.</p>
		</div>
		<div class="miniinfo">
			<h3>Do I have to buy a ticket?</h3>
			<p>Speakers who are holding a full-length talk will get free admission to JavaZone. Lightning talk speakers will have to pay for their own ticket.</p>
		</div>
		<div class="miniinfo">
			<h3>What tools do I have at the stage?</h3>
			<p>All the conference rooms will have projectors with VGA-cables (widescreen). There are two microphones. We also provide you with water to calm your brain. Ask us if you have other requirements.</p>
		</div>
		<div class="miniinfo">
			<h3>When and where is the speakers dinner?</h3>
			<p>The speakers dinner will be announced closer to the conference, both by email and in the calendar at the left.</p>
		</div>

	</div></div>


	<div class="tile tile-small tile-txt tile-dates"><div class="tile-inner">
		<h2 class="first"><i class="icon-calendar"></i> Spesial happenings</h2>
		<p>The following is a list of happenings that partners, speakers and volunteers of JavaZone should be aware of.</p>
		<h4>Tuesday 10th September</h4>
		<ul class="dates">
		    <li><strong>11:32</strong>: Speakers dinner.</li>
		    <li><strong>11:32</strong>: The Expo area opens for partners.</li>
		    <li><strong>11:32</strong>: Pre-registration opens.</li>
		</ul>
		<h4>Wednesday 11th September</h4>
		<ul class="dates">
		    <li><strong>11:32</strong>: The doors to Oslo Spektrum opens.</li>
		    <li><strong>11:32</strong>: All stands should be staffed.</li>
		    <li><strong>11:32</strong>: First day of sessions start.</li>
		    <li><strong>11:32</strong>: Mingling in the Expo area.</li>
		    <li><strong>11:32</strong>: Stands can be closed.</li>
		    <li><strong>11:32</strong>: AweZone 2013 at Rockefeller.</li>
		</ul>
		<h4>Thursday 12th September</h4>
		<ul class="dates">
		    <li><strong>11:32</strong>: The doors to Oslo Spektrum opens.</li>
		    <li><strong>11:32</strong>: All stands should be staffed.</li>
		    <li><strong>11:32</strong>: Second day of sessions start.</li>
		    <li><strong>11:32</strong>: Stands can be closed.</li>
		    <li><strong>11:32</strong>: JavaZone ends.</li>
		</ul>
		<h4>Friday 13th September</h4>
		<ul class="dates">
		    <li><strong>11:32</strong>: JourneyZone starts.</li>
		</ul>
		<h4>Sunday 15th September</h4>
		<ul class="dates">
		    <li><strong>11:32</strong>: JourneyZone ends.</li>
		</ul>
    </div></div>

    <div id="partners" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-heart"></i> All you need to know as a partner of JavaZone 2013</h2>
		<p>Blablabla</p>

		<h2><i class="icon-money"></i> Monetary policy</h2>
		<p>The or­gan­iser of Java­Zone is jav­aBin (the Nor­we­gian Java User Group), an in­de­pen­dent, non-profit or­ga­ni­za­tion. The con­fer­ence has part­ners but no spon­sors.</p>

		<p>The agenda is de­fined by the Pro­gram Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. We there­fore have a lim­ited bud­get for re­im­burs­ing con­fer­ence speak­ers. Please see our <a href="/monetarypolicy.html">mon­e­tary pol­icy</a> for more in­for­ma­tion.</p>

		<h2><i class="icon-group"></i> Who can you expect to meet at JavaZone?</h2>
		<p>We have collected <a href="/partners.html#statistics">some statistics about the participants</a> to give you a better indication on what audience to expect at your talks, or your stand.</p>
		<p>To get a feel for what content we have featured on previous conferencec, you can look at <a href="/toptalks.html">the top talks of JavaZone 2012</a>.</p>

		<h2><i class="icon-gift"></i> Benefits and perks for partners</h2>
		<p>Partners of JavaZone will be profiled at our web pages and in the session rooms. Partners will also get a stand in the expo area. For more information about partners and partnerships, see our <a href="/partners.html">partner site</a>.</p>
	</div></div>

	<div id="volunteers" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-heart"></i> All you need to know as a volunteer of JavaZone 2013</h2>
		<p>Blablaba</p>
	</div></div>

    <div class="tile tile-med tile-txt"><div class="tile-inner">
    	<h2 class="first"><i class="icon-envelope-alt"></i> Contact information</h2>
		<ul class="contact">
		    <li><strong>JavaZone commitee:</strong> <a href="mailto:javazone@java.no">Ole-Alexander Moy</a> (+47 xxx xxx xxx)</li>
		    <li><strong>Program commitee:</strong> <a href="mailto:program@java.no">Helge Jenssen</a> (+47 xxx xxx xxx)</li>
		    <li><strong>Partner contact:</strong> <a href="mailto:partner@java.no">Solveig Jerijærvi</a> (+47 xxx xxx xxx)</li>
		    <li><strong>Press contact:</strong> <a href="mailto:javazone@java.no">Ole-Alexander Moy</a> (+47 xxx xxx xxx)</li>
		</ul>
    </div></div>





</div>
<div class="clear"></div>


<%= partial("_partials/footer.html") %>
