<%= partial("_partials/menu.html") %>

<div class="tiles" id="where">
    <div class="tile tile-med tile-tall"><a href="http://goo.gl/maps/LSn0A" class="tile-inner img-map">
        <span class="hidden">Oslo Spektrum, Sonja Henies plass 2, 0185 Oslo, Norway</span>
    </a></div>
    <div class="tile tile-invert tile-small tile-tall"><div class="tile-inner">
        <h3 class="first">
            Thousands of developers, more than one hundred sessions, workshops and over 50 unique partners in one building.
        </h3>
        <p>JavaZone 2013 will take place in Oslo Spektrum, 11–12th September 2013.</p>
        <ul class="links">
            <li><a href="/info-participants.html#speakers"><i class="icon icon-chevron-sign-right"></i> Information for speakers</a></li>
            <li><a href="/info-participants.html#partners"><i class="icon icon-chevron-sign-right"></i> Information for partners</a></li>
            <li><a href="/info-participants.html#volunteers"><i class="icon icon-chevron-sign-right"></i> Information for volunteers</a></li>
        </ul>
    </div></div>
</div>


<div class="tiles" id="when">
    <div class="tile tile-med tile-txt"><div class="tile-inner">
        <h2 class="first"><i class="icon-globe"></i> Welcome to JavaZone!</h2>
        <p>JavaZone is an important meeting place for software developers in Scandinavia, and is the biggest community driven conference of its kind. JavaZone has been described as a high quality, independent conference – a leading forum for knowledge exchange for IT- professionals. All speakers are selected by the independent Program Committee.</p>
        <p>Over 50 large and mid-sized companies – our partners – exhibit their brand and services/ products during the conference. Without partners, volunteers, the speakers and the participants, the conference would not be possible.</p>

        <p>Topics include: Alternative languages, Architecture, Big Data and NoSQL, Con­tin­u­ous De­liv­ery, Core Java, Crafts­man­ship, En­ter­prise, Ex­pe­ri­ence Re­port, Fron­tend, Functional Programming, Mobile, Re­search and Trends, Se­cu­rity, Star­tups, and much, much more.</p>

        <div class="minis">
            <div class="mini">
                <h3><i class="icon-plane"></i> How do I get to the conference?</h3>
                <p>The conference center is placed in the heart of Oslo, so there are plenty of public transportation options. You can use the <a href="http://reiseplanlegger.ruter.no/en">travel planner</a> for Oslo by choosing "Oslo Spektrum" as your destination.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-calendar"></i> When does the conference start?</h3>
                <p>The conference starts in the morning of Wednesday 11. september. We'll kick if of with a morning show at XX.YY, after that the sessions begin.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-tag"></i> Where do I buy my ticket?</h3>
                <p>Conference tickets can be bought at <a href="https://www.eventsystems.no/es/event/javazone/">our webshop</a>. If you work for one of our <a href="/partners.html"></a> partners, they might have a ticket to you, so be sure to check that first.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-credit-card"></i> How much does a ticket cost?</h3>
                <p>Tickets are priced at <a href="https://www.eventsystems.no/es/event/javazone/products">4950,- NOK</a> for members of javaBin, and <a href="https://www.eventsystems.no/es/event/javazone/products">5950,- NOK</a> for non-members. Partners will get special prices for the tickets.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-cog"></i> How can I attend a Workshop?</h3>
                <p>The workshops are held the day before and during the conference. More information will be given closer to the conference. The workshops have limited capacity.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-music"></i> What (and when) is AweZone?</h3>
                <p><a href="/awezone.html">AweZone</a> is our conference after party, and it will be held at Rockefeller the evening after the first conference. Admission is free with your JavaZone ticket.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-reorder"></i> Where's the conference program?</h3>
                <p>The program will be released closer to the conference date. If you wish to see what to expect,
                    you may check out <a href="http://javazone.no/incogito10/events/JavaZone%202012/sessions">last years program</a>,
                    or <a href="/videos.html">watch previous talks</a>.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-question-sign"></i> Where can I find more information?</h3>
                <p>If you're a speaker, partner or volunteer, check out our <a href="/info-participants.html">page with additional information</a>. If you have any other questions, please contact us at <a href="mailto:javazone@java.no">javazone@java.no</a>.</p>
            </div>
        </div>

    </div></div>
    <div class="tile tile-small tile-txt tile-dates tile-last"><div class="tile-inner">
        <h2 class="first"><i class="icon-calendar"></i> Schedule</h2>
        <h4>Tuesday 10th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: Workshops (separate registration)</li>
            <li><strong>11:32</strong>: Speakers dinner (speakers only)</li>
            <li><strong>11:32</strong>: The Expo area are rigged</li>
            <li><strong>11:32</strong>: Pre-registration opens</li>
        </ul>
        <h4>Wednesday 11th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>11:32</strong>: Mingling in the Expo area</li>
            <li><strong>11:32</strong>: Morning show</li>
            <li><strong>11:32</strong>: First day of sessions</li>
            <li><strong>11:32</strong>: Mingling in the Expo area</li>
            <li><strong>11:32</strong>: AweZone 2013 at Rockefeller</li>
        </ul>
        <h4>Thursday 12th September</h4>
        <ul class="dates">
            <li><strong>11:32</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>11:32</strong>: Second day sessions</li>
            <li><strong>11:32</strong>: JavaZone ends</li>
        </ul>
        <p><a href="info-participants.html#speakers"><i class="icon icon-chevron-sign-right"></i> Schedule for speakers &amp; partners</a></p>
    </div></div>
    <%= partial("_partials/contact.html") %>
</div>
<div class="clear"></div>



<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner img-workshop">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Workshops at JavaZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/awezone.html" class="tile-inner img-awezone">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Party at AweZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/journeyzone.html" class="tile-inner img-agir">
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Travel to JourneyZone
        </span>
    </a></li>
</ul>
<div class="clear"></div>

<%= partial("_partials/footer.html") %>
