<div class="header">
    <%= partial("_partials/h1.html") %>
    <p class="date">
        <strong>Join thousands of devs at our next conference:</strong><br>
        11&ndash;12<sup>th</sup> September 2013, in Oslo Spektrum.
    </p>
</div>

<div class="hero hero-hills hero-auto"><div class="section">
    <div id="partners" class="img-list"></div>
    <div class="clear"></div>
</div></div>

<div class="content">
<div class="section">

    <div class="article">

        <h3 class="first"><i class="icon-gift"></i> Become a partner</h3>

        <p>JavaZone is a conference organized by and for a great community of developers. The conference is not possible without the involvement and support of our partners buying both stands and tickets for their employees to the conference. In addition to gaining access to the exhibition area we involve our partners in both forming the agenda of and the conference itself.</p>

        <p>Over 30 large and mid-sized companies – our partners – exhibit their brand and services/products during the conference.</p>

        <p>In the exhibition space, we have organized a range of activities, from whiteboards, where speakers can expand on their presentations and answer questions arising from the presentation, to music and stand-up performances. Contact us at <a class="tag" href="mailto:partner@java.no">partner@java.no</a> for more information on becoming a partner.</p>

    </div>

    <div class="aside">

        <div class="text">
            <h3>About javaBin</h3>
            <p>javaBin is a non-profit, independent organization. The purpose is to promote Java expertise among members, member firms and the market. javaBin is headquartered in Oslo, with subgroups in Stavanger, Bergen, Trondheim and in southern Norway. In 2009 the group had over 2,000 members from over 210 companies.</p>
            <p class="last">javaBin arranges monthly meetings for its members. The meetings are a good way to strengthen the Java platform and is a venue for sharing experiences and information in addition to being a social arena that links people across firms and institutions.</p>
        </div>


    </div>

</div>

</div>

<%= partial("_partials/footer.html") %>
