<%= partial("_partials/menu.html") %>

<div class="tile tile-med tile-tall tile-video"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/HXvm76e2X1Q?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
</div></div>

<div class="tile tile-small tile-tall tile-invert"><div class="tile-inner">
    <h3 class="first">
        Coming soon! The program for JavaZone 2013
        will be released closer to the conference date.
    </h3>
    <p>
        We're hard at work determining which of the many submitted talks
        should be accepted to the next JavaZone. In the mean time, check out the following:
    </p>
    <ul class="links">
        <li><a href="/info.html"><i class="icon icon-info-sign"></i> Read more about JavaZone</a></li>
        <li><a href="/videos.html"><i class="icon icon-play-sign"></i> Videos of previous talks</a></li>
        <li><a href="https://twitter.com/javazone"><i class="icon icon-twitter"></i> Follow us on Twitter</a></li>
    </ul>
</div></div>

<%= partial("_partials/footer.html") %>
