<div class="header">
  <%= partial("_partials/h1.html") %>
  <p class="date">
    <strong>Got something to say? Then you should talk!</strong><br>
    Answer our call for speakers, and come speak at JavaZone.
  </p>
</div>

<div class="hero hero-topdown"><div class="hero-inner">
</div></div>

<div class="content">
<div class="section">

  <div class="aside">

    <a class="tag tag-big tag-alone" href="http://java.no/submitit">Submit your talk</a>

    <div class="nav"><ul>
      <li><a href="#topics">Suggested topics</a></li>
      <li><a href="#format">Format &amp; duration</a></li>
      <li><a href="#perks">Benefits &amp; perks</a></li>
      <li><a href="#workshop">Workshop</a></li>
      <li><a href="#monetary">Mon­e­tary pol­icy</a></li>
      <li><a href="#contact">Con­tact</a></li>
    </ul></div>

  </div>

  <div class="article">

    <h3 class="first"><i class="icon-bullhorn"></i> Call for Speakers</h3>
    <p></p>
    <p>JavaZone takes place in Oslo, Norway, on September 11th-12th 2013.
      The conference offers a combination of technical talks and panels in
      an informal atmosphere with an expected attendence of more than 2000.
      JavaZone 2013 will be the 12th consecutive JavaZone conference.</p>

    <div class="calendar">
      <table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr>
          <td class="empty"></td>
          <td>Call for Speak­ers opens <strong>Feb­ru­ary 1st, 2013</strong></td>
          <td>Call for Speak­ers closes <strong>April 15th, 2013</strong></td>
        </tr>
        <tr>
	  <td>Start notifying speakers <strong>Early June, 2013</strong></td>
	  <td>Schedule announced <strong>July, 2013</strong></td>
	  <td>Sched­ule complete <strong>August, 2013</strong></td>
        </tr>
        <tr>
          <td>Conference <strong>September 11-12th, 2013</strong></td>
          <td>JourneyZone <strong>September 13-15th, 2013</strong></td>
          <td class="empty"></td>
        </tr>
      </table>
    </div>

    <p>As in previous years, last year's conference was a massive success,
      with software professionals and partners enjoying more than 100 sessions
      covering multiple topics, and an impressive lineup of internationally known
      speakers. Leading evangelists in the community rate JavaZone as one of the
      most important Java events in Europe. Both
    <a rel="nofollow" class="external-link" href="http://vimeo.com/javazone/videos">videos</a> and
    <a rel="nofollow" class="external-link" href="http://bit.ly/jz12sessions">pro­grams</a> from
    pre­vi­ous years are avail­able. As for previous years we need your help to recreate the succsess!</p>

    <p>The JavaZone conference is organized by
      <a rel="nofollow" class="external-link" href="http://java.no">javaBin</a>, the Norwegian Java User Group (JUG).
      JavaBin is an idealistic, non-profit organization established in 1996 by a group of Java
      enthusiasts. The JUG has since evolved into the leading group for promotion of the Java
      platform in Scandinavia.</p>

    <h3 id="topics"><i class="icon-star"></i> Suggested Top­ics</h3>
    <p>Ab­stracts should be tagged with the ap­pro­pri­ate top­ics from the
    list on the right. If you have a sufficiently awesome talk that falls outside these areas but
    fits the idea of the conference, please submit that too.</p>

    <p>The audience consists mostly of software developers and in general, talks should
      be technical enough that they include code (although that is not a requirement).
      Talks purely related to practices (agile etc.) are less likely to be accepted.</p>

    <p>We have collected <a href="/partners.html#statistics">some statistics about the participants</a> to give you a better indication on what audience to expect.</p>

    <p>You can also find inspiration for your talk by looking at <a href="/toptalks.html">the top talks of JavaZone 2012</a>.</p>

    <p>Communities are especially invited to submit suggestions for talks.</p>

  </div>

  <div class="aside">

    <div class="topics">
      <h3 class="first"><i class="icon-comment"></i> Suggested topics</h3>
      <ul>
        <li>
          <strong><i class="icon-leaf"></i> Al­ter­na­tive Lan­guages</strong>
					Pro­gram­ming par­a­digms, con­cepts,
          and lan­guages&hellip;</li>
        <li>
          <strong><i class="icon-sitemap"></i> Ar­chi­tec­ture in Prac­tice</strong>
					Ar­chi­tec­tures of amaz­ing
          ap­pli­ca­tions, ar­chi­tec­ture refac­tor­ing, ac­ci­den­tal/evo­lu­tion­ary
          ar­chi­tec­ture, why it suceeded / why it failed?</li>
        <li>
          <strong><i class="icon-tasks"></i> Big Data and NoSQL</strong>
					Cas­san­dra, Hadoop, Mon­goDB, HBase,
          CouchDB, Dy­namoDB, Neo4j&hellip;</li>
        <li>
          <strong><i class="icon-dashboard"></i> Con­tin­u­ous De­liv­ery</strong>
					Au­to­mated build &amp; de­ploy­ment,
          De­vOps, vir­tu­al­iza­tion, mon­i­tor­ing, in­fra­struc­ture&hellip;</li>
        <li>
          <strong><i class="icon-coffee"></i> Core Java</strong>
					Java 8, AOP, con­cur­rency, gener­ics, Java mem­ory model,
          byte­code&hellip;</li>
        <li>
          <strong><i class="icon-book"></i> Craftsmanship and Tools</strong>
					Test­ing, pro­gram­ming
          prac­tices, refac­tor­ing, tools, TDD / BDD&hellip;</li>
        <li>
          <strong><i class="icon-cloud"></i> Dis­trib­uted Sys­tems and Cloud</strong>
					High per­for­mance /
          scal­a­bil­ity / avail­abil­ity, con­cur­rency in cloud ap­pli­ca­tions,
          in­te­gra­tion tech­nol­ogy&hellip;</li>
        <li>
          <strong><i class="icon-truck"></i> En­ter­prise</strong>
					Big pro­jects, big sys­tems, in­te­gra­tion,
          sim­pler en­ter­prise soft­ware de­vel­op­ment, cop­ing with com­plex­ity&hellip;</li>
        <li>
          <strong><i class="icon-comment"></i> Ex­pe­ri­ence Re­port</strong>
					Going from Maven to Gra­dle, How we
          failed when re­plac­ing SQL with NoSQL&hellip;</li>
        <li>
          <strong><i class="icon-magic"></i> Fron­tend</strong>
					Rich user ex­pe­ri­ence, AJAX, thick clients /
          Swing, JavaScript, Cof­fee­Script, Clo­jure­Script, HTML5, CSS,
          Sass/Less</li>
         <li>
          <strong><i class="icon-cogs"></i> Functional Programming</strong>
          Concepts and Theory. Lambdas, Currying, Immutability, Lazy evaluation&hellip;</li>
        <li>
          <strong><i class="icon-road"></i> In­no­va­tion and Star­tups</strong>
					Cre­ativ­ity and fol­low-through,
          Prof­it­ing off ideas, Lean Star­tups, Fund­ing and or­gan­i­sa­tion&hellip;</li>
        <li>
          <strong><i class="icon-phone"></i> Mo­bile</strong>
					An­droid, iOS, web apps for mo­bile&hellip;</li>
        <li>
          <strong><i class="icon-beaker"></i> Re­search and Trends</strong>
					Be­yond Java, tech­nol­ogy radar, "Next
          big thing"&hellip;</li>
        <li class="last">
          <strong><i class="icon-lock"></i> Se­cu­rity</strong>
					Se­cure Cod­ing, de­sign pat­terns for ap­pli­ca­tion
          se­cu­rity, se­cu­rity how­tos, SSO, REST- and WS se­cu­rity</li>
        <li>If you have a sufficiently awesome talk that falls outside these areas but fits the idea of the conference, please submit that too. </li>
      </ul>
    </div>
  </div>

  <div class="article">

    <h3 id="format"><i class="icon-time"></i> For­mat &amp; du­ra­tion</h3>
    <p>
      The pre­sen­ta­tions are split into two possible for­mats, ei­ther a 60
      minute pre­sen­ta­tion or a 10 minute light­ning talk.
    </p>

    <h3 id="perks"><i class="icon-wrench"></i> Benefits &amp; perks</h3>
    <p>Speak­ers with ac­cepted <strong>pre­sen­ta­tions</strong> will get free ad­mis­sion to the con­fer­ence.
      They will also be in­vited to the speak­ers din­ner and can join us
      on <a href="journeyzone.html">Jour­ney­Zone</a>, an epic journey in the Norwegian wilderness.</p>

    <p>
      Speak­ers with ac­cepted <strong>light­ning talks</strong> will be in­vited to the speak­ers din­ner but will have to pay for their own ad­mis­sion to Java­Zone.
    </p>


    <h3 id="workshop"><i class="icon-wrench"></i> Work­shop</h3>
    <p>We will also continue with our more hands-on workshops, and are open to discussing both format and duration for these workshops. If you're interested in arranging a workshop, then please send an email to <a href="mailto:program@​java.​no">program@​java.​no</a> to let us know.</p>

    <h3 id="monetary"><i class="icon-plane"></i> Mon­e­tary pol­icy</h3>
    <p>
      The or­gan­iser of Java­Zone is jav­aBin (the Nor­we­gian Java User
      Group), an in­de­pen­dent, non-profit or­ga­ni­za­tion. The con­fer­ence has
      part­ners but no spon­sors.
    </p>
    <p>
      The agenda is de­fined by the Pro­gram
      Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. We there­fore have a lim­ited
      bud­get for re­im­burs­ing con­fer­ence speak­ers. Please see our
      <a rel="nofollow" class="external-link" href="monetarypolicy.html">mon­e­tary pol­icy</a> for more
      in­for­ma­tion.
    </p>

    <h3 id="contact"><i class="icon-comment"></i> Con­tact in­for­ma­tion</h3>
    <p>
      You can <a href="http://java.no/submitit">sub­mit your pre­sen­ta­tion here</a>.
      Please do not hes­i­tate to con­tact us at <a href="mailto:program@​java.​no">program@​java.​no</a>
      should you need any fur­ther in­for­ma­tion. Hope to see you there, and feel free to spread the word about
      Java­Zone 2013 in your local com­mu­nity.
    </p>

    <p class="sig">
      <a class="tag" href="http://java.no/submitit">Submit your presentation now</a>
      <a class="tag" href="mailto:program@​java.​no">Contact us at program@​java.​no</a>
    </p>

    <p class="credits">Photos by Andreas Røe.</p>
  </div>

  <div class="aside">

    <div class="topics">
      <h3 class="first"><i class="icon-star"></i> Skill lev­els for talks</h3>
      <ul>
        <li>
          <strong>
            <i class="icon-star"></i>
            In­tro­duc­tory
          </strong>
          A basic in­tro­duc­tion to a sub­ject. As­sume no knowl­edge of the sub­ject.</li>
        <li>
          <strong>
            <i class="icon-star icon-close"></i>
            <i class="icon-star"></i>
            In­ter­me­di­ate
          </strong>
          Ex­pect­ing more than basic knowl­edge of a sub­ject, but not yet ad­vanced.</li>
        <li>
          <strong>
            <i class="icon-star icon-close"></i>
            <i class="icon-star icon-close"></i>
            <i class="icon-star"></i>
            Ad­vanced
          </strong>
          Good knowl­edge of the sub­ject.</li>
        <li class="last">
          <strong>
            <i class="icon-star icon-close"></i>
            <i class="icon-star icon-close"></i>
            <i class="icon-star icon-close"></i>
            <i class="icon-star"></i>
            Hard­core
          </strong>
          As­sume a fair amount of knowl­edge in the
          au­di­ence. Do not spend more than 5-7 min­utes on set­ting the stage, and avoid introductory material. Should ideally focus on a single subject, for instance "classloaders", "debugging", "bytecode generation", "the monoid"&hellip; The deeper and more hardcore, the better.</li>
      </ul>
    </div>

  </div>

</div>

</div>

<%= partial("_partials/footer.html") %>
