<div class="header">
    <%= partial("_partials/h1.html") %>
    <p class="date">
        <strong>We asked all participants to rate the talks they attended.</strong><br>
        These are the top talks of JavaZone 2012.
    </p>
</div>

<div class="hero hero-crowd"><div class="hero-inner">
</div></div>

<div class="content">
<div class="section">

    <div class="aside">
        <a class="tag tag-big tag-alone" href="http://video.javazone.no/">Go to our video archive</a>
    </div>



  <div class="article">

    <h3 class="first"><i class="icon-heart"></i> Top 5 Presentations</h3>
      <p>These are the top rated full length presentations of JavaZone 2012.</p>

    <h4>#1: Advanced Git – Tim Berglund</h4>

    <iframe src="http://player.vimeo.com/video/49444883?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#2: Everything a Java(script) programmer needs to know about internet video – Eirik Bjørsnøs</h4>

    <iframe src="http://player.vimeo.com/video/49377269?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#3: Verden er urettferdig – Aleksander Blomskøld &amp; Rune Peter Bjørnstad</h4>

    <iframe src="http://player.vimeo.com/video/49458025?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#4: Networks for Programmers – Ken Sipe</h4>

    <iframe src="http://player.vimeo.com/video/49375217?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#5: Zombie TDD: Live parprogrammering – Christian Johansen &amp; Magnar Sveen</h4>

    <iframe src="http://player.vimeo.com/video/49485653?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h3><i class="icon-heart"></i> Top 3 Lightning Talks</h3>
    <p>These are the top rated lightning talks of JavaZone 2012.</p>

    <h4>#1: Avinstaller Java nå! – Jostein Tveit</h4>

    <iframe src="http://player.vimeo.com/video/49299023?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#2: Readable code - and the long lost secret of how to achieve it – Christin Gorman</h4>

    <iframe src="http://player.vimeo.com/video/49484333?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#3: Sikker lagring av passord – Jon Are Rakvåg</h4>

    <iframe src="http://player.vimeo.com/video/49485270?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

      <h3><i class="icon-play"></i> Videos of all previous talks</h3>

      <p>We have collected videos from JavaZone 2009, 2010, 2011 and 2012. All of these are free for all to watch at our video archive: <a class="tag" href="http://video.javazone.no/">video.javazone.no</a></p>


  </div>

    <div class="aside">
        <div class="topics">
            <h3 class="first"></i> JavaZone Video Archive</h3>
            <p class="small">Each year since 2009, we have filmed all the great presentations and lightning talks held by the fantastic speakers at JavaZone. In line with our misson of knowledge sharing, we have made all these videos publicly availiable for free at Vimeo.</p>
            <p class="small">To watch all the videos, please see our brand new Video Archive at <a href="http://video.javazone.no/">video.javazone.no</a>.</p>
        </div>

        <div class="topics">
            <h3>About javaBin</h3>
            <p class="small">javaBin is the non-profit, independent organization that each year are responsible for arranging JavaZone. The purpose is to promote Java expertise among members, member firms and the market. javaBin is headquartered in Oslo, with subgroups in Stavanger, Bergen, Trondheim and in southern Norway. In 2009 the group had over 2,000 members from over 210 companies.</p>
            <p class="small">javaBin arranges monthly meetings for its members. The meetings are a good way to strengthen the Java platform and is a venue for sharing experiences and information in addition to being a social arena that links people across firms and institutions.</p>
        </div>
    </div>

</div>

</div>

<%= partial("_partials/footer.html") %>
