<div class="header">
    <%= partial("_partials/h1.html") %>
    <p class="date">
        <strong>We asked all participants to rate the talks they attended.</strong><br>
        These are the top talks of JavaZone 2012.
    </p>
</div>

<div class="hero hero-crowd"><div class="hero-inner">
</div></div>

<div class="content">
<div class="section">
  <div class="article">

    <h3 class="first"><i class="icon-heart"></i> Top 3 Lightning Talks</h3>
    <p>These are the top rated lightning talks of JavaZone 2012.</p>

    <h4>#1: Avinstaller Java nå! – Jostein Tveit</h4>

    <iframe src="http://player.vimeo.com/video/49299023?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#2: Readable code - and the long lost secret of how to achieve it – Christin Gorman</h4>

    <iframe src="http://player.vimeo.com/video/49484333?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h4>#3: Sikker lagring av passord – Jon Are Rakvåg</h4>

    <iframe src="http://player.vimeo.com/video/49485270?title=0&amp;byline=0&amp;portrait=0" width="542" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="separator"></div>

    <h3><i class="icon-heart"></i> Top 5 Presentations</h3>
<!--       <p>These are the top rated full length presentations of JavaZone 2012.</p> -->

      <p>The top 5 full length presentations will be revealed later. Follow JavaZone at Twitter (<a href="https://twitter.com/javazone">@JavaZone</a>) to be the first to hear about it!</p>

      <h3><i class="icon-play"></i> Videos of all previous talks</h3>

      <p>We have collected videos from JavaZone 2009, 2010, 2011 and 2012. All of these are free for all to watch at our video archive: <a href="http://video.javazone.no/">video.javazone.no</a>.</p>


  </div>

</div>

</div>

<%= partial("_partials/footer.html") %>
