<div class="header last">
    <%= partial("_partials/h1.html") %>
    <p class="date">
        <strong>Top talks JavaZone 2012</strong><br>
    </p>
</div>

<div class="content">

<div class="section">
  <div class="article">
	
	  <p>
	  	After the JavaZone conference we ask the participants to rate the presentations they attend. These are the top talks at JavaZone 2012 according to that rating.
	  </p>
	
      <h3 class="first"><i class="icon-asterisk"></i> Top 5 presentations</h3>

	  <ol class="numbered">
		<li><a href="http://vimeo.com/49444883">Advanced Git (Tim Berglund)</a></li>
		<li><a href="http://vimeo.com/49377269">Everything a Java(script) programmer needs to know about internet video (Eirik Bjørsnøs)</a></li>
		<li><a href="http://vimeo.com/49458025">Verden er urettferdig (Aleksander Blomskøld &amp; Rune Peter Bjørnstad)</a></li>
		<li><a href="http://vimeo.com/49375217">Networks for Programmers (Ken Sipe)</a></li>
		<li><a href="http://vimeo.com/49485653">Zombie TDD: Live parprogrammering (Christian Johansen &amp; Magnar Sveen)</a></li>
	  </ol>

      <h3><i class="icon-asterisk"></i> Top 3 lightning talks</h3>

	  <ol class="numbered">
		<li><a href="http://vimeo.com/49299023">Avinstaller Java nå! (Jostein Tveit)</a></li>
		<li><a href="http://vimeo.com/49484333">Readable code - and the long lost secret of how to achieve it (Christin Gorman)</a></li>
		<li><a href="http://vimeo.com/49485270">Sikker lagring av passord (Jon Are Rakvåg)</a></li>
	  </ol>

  </div>

</div>

</div>

<%= partial("_partials/footer.html") %>
