<%= partial("_partials/menu.html") %>

<div class="tiles" id="where">
    <div class="tile tile-med tile-tall"><div class="tile-inner img-workshop">
	<span class="extra link"><i class="icon icon-play-sign"></i> Expand your horizon. Attend a workshop at JavaZone 2013.</span>
    </div></div>
    <div class="tile tile-invert tile-small tile-tall tile-tall-text"><div class="tile-inner">
	<h3 class="first">How to register:</h3>
	<p>Workshops at JavaZone is free for all participants of the regular conference. This means that you can attend workshops free of charge as long as you have a ticket.</p>
	<p>Registration is on a "first come, first served" basis. After you register using the links below, you will get contacted with information about weather you got a spot or not.</p>
    </div></div>
</div>

<hr>
<h1>Tuesday 10. September 2013</h1>
<hr>

<div class="workshop">
    <h2>Clojure</h2>
    <p><strong>When:</strong> Tuesday 10. September 2013, 9:00 - 17:30</p>
    <p><strong>Where:</strong> Room 1</p>
    <p><strong>By:</strong> Stuart Sierra</p>
    <p>This workshop will provide an introduction to Clojure for the JVM. </p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dEhsd0FBdURyS1IxMlNDbm9JR1oxdGc6MA#gid=0">More info and registration</a>
    </p>
</div>

<div class="workshop">
    <h2>Un-academic functional programming</h2>
    <p><strong>When:</strong> Tuesday 10. September 2013, 9:00 - 13:00</p>
    <p><strong>Where:</strong> Room 2</p>
    <p><strong>By:</strong> Kaare Nilsen</p>
    <p>Un-academic functional programming. For you who do not already know what "monoids in the category of endofunctors" are.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dF9iWHhKblg0SU05LW9faHh3RVlnUVE6MA#gid=0">More info and registration</a>
    </p>
</div>

<div class="workshop">
    <h2>Making sense of Tweets / BigData, Storm</h2>
    <p><strong>When:</strong> Tuesday 10. September 2013, 9:00 - 13:00</p>
    <p><strong>Where:</strong> Room 3</p>
    <p><strong>By:</strong> Jon Espen Ingvaldsen</p>
    <p>Workshoppen vil vise hvordan man bruker Storm-rammeværket (http://storm-project.net) til å prosessere og dra ut verdifull informasjon fra store datastrømmer i sanntid.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dFd0czJjNkZ0bE41OEdma0c3UU9WVkE6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>Advanced Git</h2>
    <p><strong>When:</strong> Tuesday 10. September 2013, 13:30 - 17:30</p>
    <p><strong>Where:</strong> Room 2</p>
    <p><strong>By:</strong> Matthew McCullough</p>
    <p>Once you've spent some time getting to know Git and GitHub, you'll be interested in finding that next level of productivity with these two tools. This class provides precisely that next level of Git and GitHub education. This class is tuned for maximum benefit to students such as yourself that have spent several months in hands-on use of these tools.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dEtZMm16S2UxVlBFZDU1Z2hDZEdWV2c6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>Ceylon hands-on session</h2>
    <p><strong>When:</strong> Tuesday 10. September 2013, 13:30 - 17:30</p>
    <p><strong>Where:</strong> Room 3</p>
    <p><strong>By:</strong> Stéphane Épardaud and Gavin King</p>
    <p>More info coming soon...</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dHpDTVA2QVJoUFlqWGNrOVhHb2gyZ3c6MA#gid=0">More info and registration</a>
    </p>
</div>

<hr>
<h1>Wednesday 11. September 2013</h1>
<hr>

<div class="workshop">
    <h2>#!/bin/bash for programmers</h2>
    <p><strong>When:</strong> Wednesday 11. September 2013, 9:00 - 12:40</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Stein Inge Morisbak</p>
    <p>In this workshop we will delve into common problems you may encounter when scripting bash and how to cope with them. We will train using techniques and tools from the "programmers world" that are not so common to use in the "operators world" and have a look at what developers need to learn about arrays, loops, scoping, system variables and *nix tools to become effective bash programmers.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dFlpcnRvdFJSRzJmX0M0UERheWg4ZUE6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>Finding and Solving Java Deadlocks</h2>
    <p><strong>When:</strong> Wednesday 11. September 2013, 13:00 - 16:40</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Heinz Kabutz</p>
    <p>In this hands-on-lab, we will explain what causes deadlocks and how we can find them.  You will then be given a body of code to test for deadlocks using the techniques learned.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dGNuS3FaclE2YldFdW91ZVdLR19KTWc6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>NFC Workshop</h2>
    <p><strong>When:</strong> Wednesday 11. September 2013, 17:00 - 19:20</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Thomas Skjølberg</p>
    <p>More info coming soon</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dFJJQXNtRWlPSTNUUnR4amNLNHg3emc6MA#gid=0">More info and registration</a>
    </p>
</div>

<hr>
<h1>Thursday 12. September 2013</h1>
<hr>

<div class="workshop">
    <h2>Dart hands-on workshop</h2>
    <p><strong>When:</strong> Thursday 12. September 2013, 9:00 - 11:20</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Seth Ladd</p>
    <p>More info coming soon</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5hdlBzd0hvNDlGazZEU2JDd0FuUGc6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>Hands-on introduction to Puppet (with Vagrant)</h2>
    <p><strong>When:</strong> Thursday 12. September 2013, 11:40 - 14:00</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Jakub Holy</p>
    <p>Come to learn Puppet, the ultimate DevOps tool and any developer's friend. In a series of exercises, you will learn how to install software, place files, configure and run services and how to use modules.</p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dDFSZWEzX3FGam1TRm45eWZNd2MxZHc6MA#gid=0">More info and registration</a>
    </p>
</div>
<div class="workshop">
    <h2>Sikkerhetsworkshop</h2>
    <p><strong>When:</strong> Thursday 12. September 2013, 14:20 - 18:00</p>
    <p><strong>Where:</strong> Oslo Spektrum</p>
    <p><strong>By:</strong> Espen Fossen</p>
    <p>Hver deltager eller team får utviklet kode for en enkel java webapplikasjon. Denne inneholder en rekke feil og mangler knyttet til god praksis innen sikker applikasjonsutvikling. Målet er å løse alle oppgaver på en tilstrekkelig måte med hjelp fra en test server og de som holder workshoppen. </p>
    <p>
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dFh2VzF5UkpUSEJzVUtkVDFCWjBTRHc6MA#gid=0">More info and registration</a>
    </p>
</div>

<%= partial("_partials/footer.html") %>
