<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no, minimum-scale = 1.0, maximum-scale = 1.0">
<meta name="apple-mobile-web-app-capable" content="no">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="en">

<title>JavaZone 2013</title>
<meta name="description" content="Javazone!">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>
<%= assets("css", "all") %>

</head>
<body>

<div id="page">
<%= content %>
</div>

</body>
</html>
