<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no, minimum-scale = 1.0, maximum-scale = 1.0">
<meta name="apple-mobile-web-app-capable" content="no">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="en">

<title>JavaZone 2013</title>
<meta name="description" content="Javazone!">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700' rel='stylesheet' type='text/css'>

<%= assets("css", "all") %>

<!--[if IE 7]>
  <%= assets("css", "ie7") %>
<![endif]-->

</head>
<body>

<div class="skiplinks hidden">
    <!-- <a tabindex="-1" href="#menu" title="Skip to navigation">Skip to navigation</a> -->
    <a tabindex="-1" href="#main" title="Skip to content">Skip to content</a>
</div>

<div id="page">

<%= content %>
<div class="clear"></div>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3676724-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
