a.button {
    text-align: center;
    display: block;
    border:none;
    border-radius:.5em;

    margin:0 .5em 0 0;
    padding:.5em 1em;

    color:#fff;
    background:#d33682;
}

a.button:hover {
    background: #AE2364;
}

a.button-span {
    margin:0 0 2em 0;
}
