.img {
    background-size:100% 100%;
    display:inline-block;
    text-indent:-999em;
    background-repeat: no-repeat;
    background-position: center center;
    width:128px;
    height:128px;
    position: relative;
}

.img-inner {
    display: none;
    width:100%;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1em solid rgba(0,0,0,0.05);
    position: absolute;
    top:0;
    left:0;
}

a:hover .img-inner {
    display: block;
}

.img-logo { background-image:url("/assets/img/logos/javazone.horizontal.png"); width:19.444em; height:4.889em; }
.img-map { background-image:url("/assets/img/maps/spektrum.png"); }
.img-intro { background-image:url("/assets/img/pics/topdown.jpg"); }
.img-video { background-image:url("/assets/img/pics/stand.jpg"); }
.img-stand2 { background-image:url("/assets/img/pics/stand2.jpg"); }
.img-agir { background-image:url("/assets/img/pics/agir.jpg"); }
.img-awezone { background-image:url("/assets/img/pics/awezone2.jpg"); }
.img-awezone5 { background-image:url("/assets/img/pics/awezone5.jpg"); }
.img-workshop { background-image:url("/assets/img/pics/workshop.jpg"); }
.img-crowd { background-image:url("/assets/img/pics/crowd.jpg"); }
.img-bags { background-image:url("/assets/img/pics/bags.jpg"); }
.img-flam { background-image:url("/assets/img/pics/flam.jpg"); }


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .img-logo { background-image:url("/assets/img/logos/javazone.horizontal@2x.png"); }
    .img-map { background-image:url("/assets/img/maps/spektrum@2x.png"); }
    .img-workshop { background-image:url("/assets/img/pics/workshop@2x.jpg"); }

}
