.img {
    background-size:100% 100%;
    display:inline-block;
    text-indent:-999em;
    background-repeat: no-repeat;
    background-position: center center;
    width:128px;
    height:128px;
}

.img-logo { background-image:url("/assets/img/logos/javazone.horizontal.png"); width:350px; height:88px; }
.img-map { background-image:url("/assets/img/maps/spektrum.png"); }
.img-intro { background-image:url("/assets/img/pics/topdown.jpg"); }
.img-video { background-image:url("/assets/img/pics/stand.jpg"); }
.img-agir { background-image:url("/assets/img/pics/agir.jpg"); }
.img-awezone { background-image:url("/assets/img/pics/awezone2.jpg"); }
.img-workshop { background-image:url("/assets/img/pics/workshop.jpg"); }
.img-crowd { background-image:url("/assets/img/pics/crowd.jpg"); }


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .img-logo { background-image:url("/assets/img/logos/javazone.horizontal@2x.png"); }
    .img-map { background-image:url("/assets/img/maps/spektrum@2x.png"); }
    .img-workshop { background-image:url("/assets/img/pics/workshop@2x.jpg"); }

}
