#container {
    min-height: 100%;
    position: relative;
}

#page {
    padding:0 0 2em 0;
}

.header {
    position: relative;
    width:54em;
    padding:0 3em 4em 3em;
    margin:0 auto;
    z-index: 2;
}

.header h1 {
    font-size:1em;
}

.header h1 a {
    display: block;
    background:url("/img/robots/bg3.png") 3em 3em no-repeat;
    background-size:500px 150px;
    padding:10em 0 0 0;
    border:none;
}

.header h1 a:hover,
.header h1 a:focus,
.header h1 a:active {
    border:none;
    outline:none;
}

.header h1 span {
    text-indent: -999em;
    display: block;
    width:400px;
    height:70px;
    background:url("/img/logos/javazone.png") top left no-repeat;
    background-size:100% 100%;
    margin:0 0 2em 0;
    border:none;
}

.header p {
    font-size:1.8em;
    line-height:1.3;
    margin:0;
}

.section { width:54em; padding:0 3em 2em 3em; margin:0 auto 0 auto; z-index: 2; }
.article { float:left; width:56%; }
.aside { float:right; width:35%; }

.line { background:#262626; padding:3em; margin-bottom:3em; }
.line-inner { width:54em; margin:0 auto; }


footer { background:#303030; padding:2em; }
.footer-inner { max-width:54em; margin:0 auto; }

@media only screen and (max-width: 1100px) {
    .header { width:40em; }
    .header p { font-size:1.6em; }
    .section, .line-inner { width:40em; }
}

@media only screen and (max-width: 850px) {
    #page { padding:2% 0 0 0; }
    .section, .header, .line-inner { width:auto; max-width: 25em; margin:0 auto; padding:0 2em; }

    .header { width:auto; padding:0 0 0 2em; max-width: 27em; }
    .header h1 a { background-size:375px 113px; background-position: 2em 1em; padding-top:6em; }
    .header h1 span { width:296px; height:53px; margin:0 0 1.5em 0; }
    .header p { font-size:1.2em; padding:0 2em 2em 0; }
    .header.last p { padding-bottom:0; }
    .section, .article, .aside { float:none; width:auto; margin-bottom:2em; padding-bottom:0; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .header h1 a { background-image:url("/img/robots/bg3@2x.png"); }
    .header h1 span { background-image:url("/img/logos/javazone@2x.png"); }

}


.numbers {
    margin: 0 0 30px 0;
}
.numbers .number {
    float: left;
    width: 180px;
    text-align: center;
    font-style: italic;
}
.numbers .number span {
    display: block;
    font-style: normal;
    font-size: 4em;
}

.separator {
    height: 50px;
}
