/*
    Main Text #394549
    Light Text #ccc
*/

html {
    width:100%;
    height:100%;
    overflow:auto;
    overflow-y: scroll;
    overflow-x: hidden;
    color:#394549;
    background:#fff;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial sans-serif;
    font-size:18px;
    font-weight: 300;
    line-height:1;
    width:100%;
    height:100%;
}

#container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

h2 { font-size:1.2em; margin:2em 0 1.5em 0; line-height: 1.2; color:#000; font-weight: bold; }
h3 { font-size:1.2em; color:#000; margin:2em 0 1em 0; line-height: 1.5; max-width: 30em; }
h4 { font-size:.8em; text-transform: uppercase; font-weight: bold; color:#000; margin:0 0 .5em 0; }
h2 i, h3 i { margin:0 .3em 0 0; }

p { margin:0 0 1em 0; line-height: 1.5; max-width: 40em; }

a { color:#F15B40; text-decoration: none; border-bottom:1px solid rgba(0,0,0,0.1); }
a:hover { color:#000; border-color:#000; }

.menu { padding:50px 50px 50px 70px; }
.menu h1 a { border:none; }
.menu ul { position: absolute; top:50px; right:60px; }
.menu li { line-height: 2.5; display: inline; margin:0 0 0 2em; }
.menu ul a { color:#394549; font-size:2em; }
.menu .active a { color:#000; }

.footer { padding:2em 4em 4em 4em; opacity: .5; }
.footer:hover { opacity: 1; }
.footer ul { display: inline; }
.footer li { display: inline; margin:0 2em 0 0; }
.footer a { color:#394549; font-size:1.4em; }
.footer p { font-size:1.4em; float: right; }


.tiles-outer { margin:0 30px 0 4em; }
.tiles { float:left; width:100%; }
.tiles-main { width:66.666%; float:left; }
.tiles-side { width:33.333%; float:right; margin:0; }

.tiles-grouped { padding:0; width:auto; margin:0 30px 0 0; }

.tile { float:left; width:50%; overflow: hidden; }
.tile-inner { margin:0 30px 30px 0; padding:50px; height:240px; overflow: hidden; display: block; }
.tile-inner { border:none; color:#394549; position: relative; }
.tile-inner { background-color:#f6f4ed; background-size:cover; background-position: center center; }
.tile-big { width:100%; }
.tile-med { width:66.666%; }
.tile-small { width:33.333%; }
.tile-high .tile-inner { height:320px; }
.tile-tall .tile-inner { height:610px; }
.tile-low  .tile-inner { height:150px; }

.tile .extra { display: block; position: absolute; bottom:30px; left:0; padding:20px; font-size:1.2em; background:#fff; line-height: 1.5; }
.tile .extra i { margin:0 .4em 0 0; }
.tile .extra strong { font-weight: bold; color:#000; }

.tile-tweets { background:#fc4f4c; overflow: hidden; }
.tweets { overflow: hidden; height: 100%; }
.tweet { margin:0 0 1.7em 0; font-size:1em; color:#fff; }
.tweet strong { font-weight: bold; color:#fff; }

.tile-txt {  }
.tile-txt .tile-inner { height:auto; }

.tile-dates .tile-inner { background:#fd8640; color:#fff; }
.tile-dates h2 { color:#fff; }
.tile-dates strong { font-weight: bold; }

.tile-partners .tile-inner { background:#303030; height:auto; text-align: center; min-height:280px; }
.tile-partners a { border:none; }
.tile-partners img { width:110px; display: inline-block; margin:.5em; }

ul.tags { padding:1em 0; clear: both; }
ul.tags li { display: inline; }
.tag { display: inline-block; text-transform: lowercase; background:#F15B40; color:#fff !important;
    padding:.5em .5em; margin:0 0 0.2em 0; border-radius:.2em;
    white-space: nowrap; font-size:.9em; font-weight: 600; border:none; }
.tag:hover { background: #189D9C; }

ul.dates { margin:0 0 2em 0; font-size:.9em; }
ul.dates li { line-height: 1; padding:.5em 0; }

ul.links li { line-height: 2; }

ul.contact li { line-height:1.65; position: relative; }
ul.contact strong { display: inline-block; text-align: right; width:200px; padding:0 1em 0 0; color:#000; }

ul.list { line-height: 1.8; }
ul.list i { margin:0 .5em 0 0; }

.numbers { width:100%; margin:3em -50px 3em -50px; padding:20px 50px; background:#F15B40; color:#fff; }
.numbers .number { float:left; text-align: center; font-size:1.4em; width:33.333%; padding:30px 0; }
.numbers .number span { font-size:2em; display: block; margin:0 0 .3em 0; font-weight: bold; }
