<li class="session">
    <div class="intro <%= slugs.join(" ") %>">
        <img src="<%= speakers[0].gravatarUrl %>?s=200&d=identicon" alt="<%= names %>">
        <span class="title"><%= title %></span>
        <span class="keywords">
            <span class="keyword"><%= names %></span>
            <span class="keyword level level-<%= level %>"><%= jz.utils.title(level) %></span>
            <% _.each(keywords, function(keyword) { %>
                <span class="keyword"><%= keyword %></span>
            <% }) %>
        </span>
        <div class="clear"></div>
    </div>
    <div class="details hide"></div>
    <div class="clear"></div>
</li>
