strong {
    color:#000;
}

em {
    background:#F15B40;
    color:#fff;
    padding:.2em .5em;
    border-radius:.2em;
}

sup {
    vertical-align: text-top;
    font-size: 0.6em;
}

hr {
    margin:0 0 2em 0;
    padding:2em 0 0 0;
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

a {
    color:#F15B40;
    text-decoration: none;
    border-bottom:1px solid rgba(0,0,0,0.1);
    -o-transition:color .1s ease-out;
    -ms-transition:color .1s ease-out;
    -moz-transition:color .1s ease-out;
    -webkit-transition:color .1s ease-out;
    transition:color .1s ease-out;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

a:hover {
    color:#000;
    border-color:#000;
}

img {
    max-width: 100%;
}

p {
    line-height:1.8;
    margin:0 0 1em 0;
}

ul, ol {
    list-style-type: circle;
    margin:0 0 1em 0;
    line-height:1.8;
}

h2 {
    font-weight: bold;
    font-size:1.6em;
    color:#000;
    margin:0 0 1.5em 0;
    clear:both;
}

h3 {
    font-weight: normal;
    font-size:1.4em;
    color:#000;
    padding:2em 0 0 0;
    margin:0 0 1em 0;
}

h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right:.3em;
}

@media only screen and (max-width: 50em) {
    h2 { font-size:1.6em; }
    br { display: none; }
    em { padding:0; background: none; color:inherit; }
}
