/* Hide completely */
html body .hide {
    display:none;
}

/* Hide visually (but read by screen readers) */
html body .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* Force show */
html body .show {
    display:block;
}

/* Clear floats */
html body .clear {
    clear:both;
}

.first { padding-top:0; margin-top:0; }
.last { padding-bottom:0; margin-bottom:0; }
