.hero {
    margin:0 auto 5em auto;
    height:20em;
    max-width:120em;
    background-size:100% auto;
    background-size:cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #fff;
    position: relative;
}

.support-handheld .hero {
    background-attachment: scroll;
}

.hero-side {
    width:6em;
    height:100%;
    position: fixed;
    top:0;
    left:0;
}

.hero-auto {
    height:auto;
}

.hero .section {
    padding-top:3em;
    padding-bottom:3em;
}

.hero-hills { background-image:url("/img/pics/hills.jpg"); }
.hero-bags { background-image:url("/img/pics/bags.jpg"); }
.hero-flam { background-image:url("/img/pics/flam.jpg"); }
.hero-agir { background-image:url("/img/pics/agir.jpg"); }
.hero-topdown { background-image:url("/img/pics/topdown.jpg"); }
.hero-awezone { background-image:url("/img/pics/awezone2.jpg"); }

/* ------------------------------ */

.img {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -999em;
}

.img-list a {
    border:.3em solid rgba(0,0,0,0.4);
    display: block;
    float:left;
    margin:0 .3em .3em 0;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.img-list a:hover {
    border-color:#000;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.img-list img { width:130px; height:58px; display: block; }

/* ------------------------------ */

.bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    bottom:0;
    right:0;
}

.bgf {
    position: fixed;
    bottom:0;
    right:0;
}

.bgc {
    position: static;
    margin: 2em auto;
    max-width: 100%;
    background-position: center center;
}

.bg1 { background-image:url("/img/robots/bg1.png"); width:450px;  height:750px; background-size:500px 750px; }
.bg5 { background-image:url("/img/robots/bg5.png"); width:525px;  height:600px; background-size:525px 600px; bottom:auto; top:0; }
.bg6 { background-image:url("/img/robots/bg6.png"); width:1000px; height:200px; background-size:1000px 200px; }
.bg7 { background-image:url("/img/robots/bg7.png"); width:450px; height:500px; background-size:450px 500px; }

@media only screen and (max-width: 1100px) {
    .bg1 { right:-8em; }
}

@media only screen and (max-width: 850px) {
    .bg1 { display: none; }
    .hero { margin-bottom:3em; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .bg1 { background-image:url("/img/robots/bg1@2x.png"); }
    .bg5 { background-image:url("/img/robots/bg5@2x.png"); }
    .bg6 { background-image:url("/img/robots/bg6@2x.png"); }
    .bg7 { background-image:url("/img/robots/bg7@2x.png"); }

}
